
	html, body { height: 100%; padding: 0px; margin: 0px; overflow: hidden }

	#csheader { display: table; width: 100%; height: 60px; background-color: #555555; list-style-type: none; padding: 0px; margin: 0px }
	#csheader li { display: table-cell; vertical-align: middle }
	#shield { width: 60px; background-color: #111111; text-align: center }
	#cslogo { width: 200px; text-align: center }
	#glsearch { }
	input.glsearch { border: 0px; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 18px; outline: none; background-color: #777777; border-radius: 20px; box-shadow: inset 0px 0px 5px 0px #000000; padding: 10px; background-image: url(/cs/images/icons/dark/search.png); background-repeat: no-repeat; background-position: right 10px center }
	#csadmin { width: 50px; text-align: center; }
	

	#csui { display: table; width: 100%; height: calc(100% - 60px); background-color: #cccccc; list-style-type: none; padding: 0px; margin: 0px }
	#csui li { display: table-cell; vertical-align: top; }
	
	#menu { width: 60px; background-color: #555555; height: 100%; }
	#main { width: 225px; background-color: #dddddd; height: 100%; border-right: 1px solid #cccccc }
	#sub { width: 225px; background-color: #eeeeee; height: 100%; border-right: 1px solid #cccccc }
	#linkcontainer { background-color: #ffffff; height: 100%; }
	#link { width: 100%; height: 100%; background-color: #ffffff; vertical-align: top; overflow; scroll }

	.cs_label     { background-color: #aaaaaa; font-family: Roboto Condensed, Arial; font-size: 12px; padding-left: 10px; height: 35px; font-weight: 700; text-transform: uppercase; color: #ffffff; line-height: 35px; vertical-align: middle }
	.cs_tree   { font-family: Roboto Condensed, Arial, Helvetica, sans-serif; text-transform: uppercase; font-size: 11px; white-space: nowrap; color: #000000; overflow-x: hidden; padding-top: 3px; padding-bottom: 3px }
	.cs_tree img { width: 40px; padding: 5px }

	.cs_highlight { background-color: #336699; color: #ffffff; }
	.cs_tree[treeid=main]   { border-top: 1px solid #cccccc; }
	.cs_tree[treeid=sub]   { border-top: 1px solid #dddddd; }
	.cs_tree[treeid=menu]   { color: #ffffff; text-align: center; padding: 10px; border-bottom: 1px solid #777777; }

	div.cs_search { text-align: center; padding: 10px; }
	input.cs_search { width: 100%; border: 0px; border-radius: 10px; box-shadow: inset 0px 0px 3px 0px #444444; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 5px; outline: none; background-image: url(/cs/images/icons/white/search.png); background-repeat: no-repeat; background-position: right 5px center; }
	 