

	input.cssearch[type=text] {
		border: 0px;
		background-color: transparent;
	}

	td.cssearch_date, td.cssearch_currency {
		border: 1px solid #dddddd;
		background-color: #ffffff;
	}

	.shls {
		text-align: right;
		cursor:pointer;
		padding: 10px;
		font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
	
	.shlsc {
		text-align: right;
		cursor:pointer;
		padding: 10px;
		font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
	.shlsa {
		text-align: right;
		cursor:pointer;
		padding: 10px;
		font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
		font-size: 11px;
	}

	.cssearch_facets {
		padding: 6px;
		font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
		font-size: 11px;
		background-color: #eeeeee;
		text-transform: uppercase;
	}

	.light-theme a, .light-theme span {
		font-family: Roboto Condensed, Arial, Helvetica, sans-serif !important;
		text-decoration: none !important;
	}
	


