.first {get ignored
	
}

A:link {
	color: #003366;	text-decoration: underline
}

A:visited {
	color: #003366;	text-decoration: underline
}

A:active {
	color: #003366;	text-decoration: underline
}

A:hover {
	color: #003366;	text-decoration: none
}

.topnav:link {
	color: #003366;	text-decoration: none
}

.topnav:visited {
	color: #003366;	text-decoration: none
}

.topnav:active {
	color: #003366;	text-decoration: none
}

.topnav:hover {
	color: #003366;	text-decoration: none
}

ul.treeview {
	margin: 3px;	padding: 3px
}

td.treeview {
	background: url(../images/frames/common/sq_white.png) no-repeat left center;
	list-style-type: none;
	padding-left: 22px;
	margin-bottom: 3px;
}

.frametitle {
	background: #e5e5e5;
	font-family: Arial, Helvetica;
	font-size: 9px;
	color: #bfbfbf;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	height: 22px
}

.framelabel {
	font-family: Arial, Helvetica;
	font-size: 8px;
	color: #003265;
	text-transform: uppercase;
	text-decoration: none
}

.tabletitle {
	font-family: Arial, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase
}

td.tabletitle {
	background: #d1d1d1 url('../images/frames/top/ShadowBottom.png');
	background-repeat: repeat-x;
	font-family: Arial, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	height: 19px;
	padding-left: 5px;
	text-transform: uppercase
}

a.tabletitle:link {
	font-family: Arial, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase
}

a.tabletitle:visited {
	font-family: Arial, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase
}

a.tabletitle:active {
	font-family: Arial, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase
}

a.tabletitle:hover {
	font-family: Arial, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase
}

.tablebutton {
	font-family: Arial, Helvetica;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase
}


td.tablebutton {
	background: #e5e5e5 url('../images/frames/top/ShadowBottom.png');
	background-repeat: repeat-x;
	border-right: 1px solid #d1d1d1;
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 19px;
	padding-left: 8px;
	padding-right: 6px;
	text-transform: uppercase
}

a.tablebutton:link {
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	text-transform: uppercase
}

a.tablebutton:visited {
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	text-transform: uppercase
}

a.tablebutton:active {
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	text-transform: uppercase
}

a.tablebutton:hover {
	font-family: Arial, Helvetica;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	text-transform: uppercase
}

input.tablebutton {
	font-family: Arial;
	font-size: 12px;
	border: 1px solid #999999;
	padding-left: 5px;
	padding-right: 5px;
	background: transparent url('../ui/background/toolsBack_gray1.png');
	text-transform: none
}

.tablelabel {
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: none
}

td.tablelabel {
	background: #e5e5e5;
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	padding-left: 5px
}

a.tablelabel:link {
	background: url(../images/bullet_go.png) no-repeat right center;
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: underline;
	padding-right: 20px
}

a.tablelabel:active {
	background: url(../images/bullet_go.png) no-repeat right center;
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: underline;
	padding-right: 20px
}

a.tablelabel:visited {
	background: url(../images/bullet_go.png) no-repeat right center;
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: underline;
	padding-right: 20px
}

a.tablelabel:hover {
	background: url(/obc/jsp/images/bullet_go.png) no-repeat right center;
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: underline;
	padding-right: 20px
}

.tabletext {
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: none
}

td.tabletext {
	background: #ffffff;
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: none
}

a.tabletext:link {
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: underline
}

a.tabletext:active {
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: underline
}

a.tabletext:visited {
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: underline
}

a.tabletext:hover {
	font-family: Arial, Helvetica;
	font-size: 14px;
	color: #000000;
	text-decoration: underline
}

.pagination {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

td.pagination {
	background: #ffffff;
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

a.pagination:link {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: underline
}

a.pagination:active {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: underline
}

a.pagination:visited {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: underline
}

a.pagination:hover {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: underline
}

.tablehighlight {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-decoration: none
}

td.tablehighlight {
	background: #d9b1ac;
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-decoration: none
}

a.tablehighlight:link {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-decoration: underline
}

a.tablehighlight:active {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-decoration: underline
}

a.tablehighlight:visited {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-decoration: underline
}

a.tablehighlight:hover {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	text-decoration: underline
}

.tableexclamation {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: none
}

td.tableexclamation {
	background: #d9b1ac url(../images/exclamation.png) no-repeat 5px center;
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
	padding-left: 25px
}

a.tableexclamation:link {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline
}

a.tableexclamation:active {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline
}

a.tableexclamation:visited {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline
}

a.tableexclamation:hover {
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-decoration: underline
}

td.wfcomplete {
	background: #acd9b7;
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

td.wfnotcomplete {
	background: #d9b1ac;
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

td.wfskipped {
	background: #acbdd9;
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

td.tabletext-nobg {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

td.tableform {
	background: #d1d1d1;
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase
}

td.tableform-top {
	background: #d1d1d1 url('../images/frames/top/ShadowBottom.png');
	border-top: #bfbfbf;
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

td.tableform-bottom {
	background: #d1d1d1 url('../images/frames/top/ShadowTop.png');
	border-bottom: #bfbfbf;
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #000000;
	text-decoration: none
}

.nav {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #003265;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.nav:link {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #b3b3b3;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.nav:visited {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #b3b3b3;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.nav:active {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #b3b3b3;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.nav:hover {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #003265;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navon:link {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #003265;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navon:visited {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #003265;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navon:active {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #003265;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navon:hover {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #003265;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

.navred {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navred:link {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navred:visited {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navred:active {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navred:hover {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navred:link {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navred:visited {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navonred:active {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

a.navonred:hover {
	font-family: Arial, Helvetica;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none
}

.topnavhot:link {
	color: #FF0000;
	text-decoration: none
}

.topnavhot:visited {
	color: #FF0000;
	text-decoration: none
}

.topnavhot:active {
	color: #FF0000;
	text-decoration: none
}

.topnavhot:hover {
	color: #FF0000;
	text-decoration: none
}

.tree1:link {
	padding: 0px;
	border: #E5E5E5 1px solid;
	text-decoration: none
}

.tree1:visited {
	padding: 0px;
	border: #E5E5E5 1px solid;
	text-decoration: none
}

.tree1:active {
	padding: 0px;
	border: #9BABB9 1px solid;
	text-decoration: none
}

.tree1:hover {
	padding: 0px;
	background-color: #C0C8CF;
	border: #9BABB9 1px solid;
	text-decoration: none
}

.tree2:link {
	padding: 2px;
	border: #E5E5E5 1px solid;
	text-decoration: none
}

.tree2:visited {
	padding: 2px;
	border: #E5E5E5 1px solid;
	text-decoration: none
}

.tree2:active {
	padding: 2px;
	border: #9BABB9 1px solid;
	text-decoration: none
}

.tree2:hover {
	padding: 2px;
	background-color: #C0C8CF;
	border: #9BABB9 1px solid;
	text-decoration: none
}

.tree3:link {
	display: inline;
	padding: 2px;
	border: #E5E5E5 1px solid;
	text-decoration: none
}

.tree3:visited {
	display: inline;
	padding: 2px;
	border: #E5E5E5 1px solid;
	text-decoration: none
}

.tree3:active {
	display: inline;
	padding: 2px;
	border: #9BABB9 1px solid;
	text-decoration: none
}

.tree3:hover {
	display: inline;
	padding: 2px;
	background-color: #C0C8CF;
	border: #9BABB9 1px solid;
	text-decoration: none
}

.hdrs:link {
	color: #000000;
	text-decoration: underline
}

.hdrs:visited {
	color: #000000;
	text-decoration: underline
}

.hdrs:active {
	color: #000000;
	text-decoration: underline
}

.hdrs:hover {
	color: #000000;
	text-decoration: none
}

.hdrs_link:link {
	color: #000000;
	text-decoration: none
}

.hdrs_link:visited {
	color: #000000;
	text-decoration: none
}

.hdrs_link:active {
	color: #000000;
	text-decoration: none
}

.hdrs_link:hover {
	color: #000000;
	text-decoration: underline
}

.treetext {
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #003366
}

.treetextdiff {
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #666666
}

.black1 {
	font: normal 7pt/ 8pt verdana, arial, helvetica;
	color: #000000
}

.black2b {
	font: bold 8pt/ 9pt verdana, arial, helvetica;
	color: #000000
}

.blue2 {
	font: normal 10pt/ 12pt verdana, arial, helvetica;
	color: #003366
}

.blue2b {
	font: bold 10pt/ 12pt verdana, arial, helvetica;
	color: #003366
}

.blue2b:link {
	font: bold 10px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue2b:visited {
	font: bold 10px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue2b:active {
	font: bold 10px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue2b:hover {
	font: bold 10px verdana, arial, helvetica;
	color: #FFFFFF;
	text-decoration: none
}

.blue2b2:link {
	font: bold 10px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue2b2:visited {
	font: bold 10px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue2b2:active {
	font: bold 10px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue2b2:hover {
	font: bold 10px verdana, arial, helvetica;
	color: #67819A;
	text-decoration: none
}

.blue3b:link {
	font: bold 9px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue3b:visited {
	font: bold 9px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue3b:active {
	font: bold 9px verdana, arial, helvetica;
	color: #003366;
	text-decoration: none
}

.blue3b:hover {
	font: bold 9px verdana, arial, helvetica;
	color: #67819A;
	text-decoration: none
}

.con_text_1 {
	text-indent: 5px;
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #000000
}

.con_td_1 {
	padding-left: 5px;
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #000000
}

.con_text_1_ni {
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #000000
}

.con_text_1m {
	text-indent: 5px;
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #000000;
	text-align: right
}

.con_text_red1 {
	text-indent: 5px;
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #FF0000
}

.con_hdr_1 {
	text-indent: 5px;
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #000000
}

.con_hdr_2b {
	text-indent: 7px;
	font: bold 10pt/ 11pt verdana, arial, helvetica;
	color: #000000
}

.con_hdr_link {
	text-indent: 7px;
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #000000
}

.con_hdr_3b {
	font: bold 15pt/ 16pt verdana, arial, helvetica;
	color: #000000;
	text-transform: uppercase
}

.con_hdr_blue_3b {
	font: bold 15pt/ 16pt verdana, arial, helvetica;
	color: #003366
}

.red1 {
	text-indent: 5px;
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #FF0000
}

.red2 {
	text-indent: 5px;
	font: normal 9pt/ 10pt verdana, arial, helvetica;
	color: #FF0000
}

.red3 {
	text-indent: 5px;
	font: bold 12pt/ 13pt verdana, arial, helvetica;
	color: #FF0000
}

.red2b {
	font: bold 8pt/ 9pt verdana, arial, helvetica;
	color: #FF0000
}

.white1 {
	font: normal 7pt/ 8pt verdana, arial, helvetica;
	color: #FFFFFF;
	text-decoration: none
}

.white1b {
	font: bold 7pt/ 8pt verdana, arial, helvetica;
	color: #FFFFFF
}

.white2 {
	font: normal 8pt/ 9pt verdana, arial, helvetica;
	color: #FFFFFF
}

.white2b {
	font: bold 8pt/ 9pt verdana, arial, helvetica;
	color: #FFFFFF
}

.white3 {
	font: normal 9pt/ 10pt verdana, arial, helvetica;
	color: #FFFFFF
}

.white3b {
	font: bold 9pt/ 10pt verdana, arial, helvetica;
	color: #FFFFFF
}

.white4 {
	font: normal 12pt/ 13pt verdana, arial, helvetica;
	color: #FFFFFF
}

.white4b {
	font: bold 13pt/ 14pt verdana, arial, helvetica;
	color: #FFFFFF
}

.green2b {
	font: bold 8pt/ 9pt verdana, arial, helvetica;
	color: #336633
}

input.button {
	font-family: Arial;
	font-size: 8pt;
	border: 1px solid #999999;
	padding-left: 5px;
	padding-right: 5px;
	background: transparent url('/epals/ui/background/toolsBack_gray1.png')
}

.button {
	font-size: 8pt
}

.textbox {
	font-size: 8pt
}

.listbox {
	font-size: 7pt
}

.textboxm {
	font-size: 8pt;
	text-align: right
}

.textboxg {
	font-size: 9pt
}

.textboxd {
	font-size: 8pt;
	width
	=100px
}

.label {
	font-size: 8pt;
	border-style: none;
	border: 0px;
	border-width: 0px
}

#menu1 {
	cursor: hand
}

#menu1a {
	display: none
}

#menu1a1 {
	display: none
}

#menu1a2 {
	display: none
}

#menu1a3 {
	display: none
}

#menu1a4 {
	display: none
}

#menu1b {
	cursor: hand
}

#menu1b1 {
	display: none
}

#menu1b2 {
	display: none
}

#menu1b3 {
	display: none
}

#menu1c {
	display: none
}

#menu1c1 {
	display: none
}

#menu1c2 {
	display: none
}

#menu1c3 {
	display: none
}

#menu2 {
	cursor: hand
}

#menu2a {
	display: none
}

#menu2a1 {
	display: none
}

#menu2a2 {
	display: none
}

#tree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

}
#tree img {
	border: 0px;
	width: 19px;
	height: 16px;
}

.msgAlert {
	font: normal 12pt/ 14pt verdana, arial, helvetica;
	color: #FF0000;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

.msgPayment {
	font: normal 12pt/ 14pt verdana, arial, helvetica;
	color: #339900;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

#seriesInputs .dijitInputField,#seriesInputs .dijitInputField input {
	width: 30px;
}

.adminMenuContainer {
	width: 100%;
}

.sub_menu {
	margin: 0 0 0 16px;
	padding: 2px 0 2px 0;
}

.adminMenuContainer ul {
	list-style-type: none;
	margin: 0 0 0 30px;
	padding: 0;
}

.adminMenuContainer ul li {
	padding: 2px 0 2px 0;
}

.treelabel {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none}
td.treelabel {background:#e5e5e5; font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; padding-left: 5px}
a.treelabel:link {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none}
a.treelabel:active {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none}
a.treelabel:visited {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none}
a.treelabel:hover {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none}

.treeuser {background: url(../images/frames/common/user.png) no-repeat left center; padding-left: 20px; font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}
td.treeuser {background:#e5e5e5; font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; padding-left: 5px; text-transform: uppercase}
a.treeuser:link {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}
a.treeuser:active {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}
a.treeuser:visited {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}
a.treeuser:hover {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}

.treeuser-multi {background: url(../images/frames/common/users.png) no-repeat left center; padding-left: 20px; font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}
td.treeuser-multi {background:#e5e5e5; font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; padding-left: 5px; text-transform: uppercase}
a.treeuser-multi:link {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}
a.treeuser-multi:active {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}
a.treeuser-multi:visited {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}
a.treeuser-multi:hover {font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none; text-transform: uppercase}

td.wfcomplete {background:#acd9b7; font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none}
td.wfnotcomplete {background:#d9b1ac; font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none}
td.wfskipped {background:#acbdd9; font-family: Arial, Helvetica; font-size: 10px; color:#000000; text-decoration:none}


    .FireTitle          { FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
  td.FireHeading        { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING: 10px; BACKGROUND-COLOR:#D9D9D9 }
    .FireHeading        { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
    .FireGlance         { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
  td.FireResource       { FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING: 6px }
    .FireResource       { FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none }
    .FireResourceBold   { FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
td.FireResourceStatic { FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING: 6px }
    .FireResourceStatic { FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none }
    .FireSelect         { FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none }
    .FireText           { FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none }
    .FireHighlight      { FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #990000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
    .FireMessage        { FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: normal; TEXT-DECORATION: none }
  td.FireMenu           { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING: 2px; BACKGROUND-COLOR:#000000 }
    .FireMenu           { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
   a.FireMenu:link      { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
   a.FireMenu:visited   { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
   a.FireMenu:active    { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
   a.FireMenu:hover     { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
    .FireMenu1          { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
   a.FireMenu1:link     { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
   a.FireMenu1:visited  { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
   a.FireMenu1:active   { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none }
   a.FireMenu1:hover    { FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #FFFFFF; FONT-WEIGHT: bold; TEXT-DECORATION: none }
  @page Section1 {
                   size:8.5in 11.0in;
                   margin:0.5in 0.5in 0.5in 0.5in;
                 }
 p.MsoNormal, li.MsoNormal, div.MsoNormal {
                margin:0in;
                margin-bottom:.0001pt;
                font-size:12.0pt;
                font-family:"Arial"
              }
 table.atable {
                border-collapse:collapse;
                border:0px solid #B3B3B3
              }
 tr           {
                page-break-inside:avoid
              }
 div.Section1 {
                page:Section1;
              }


.panelVisited      { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #003265 }
.panelVisitedColor { background-color:#62A85F }
.panelActive       { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF }
.panelActiveColor  { background-color:#EAC563 }
.panel             { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF }
.panelColor        { background-color:#BB2F2F }


