.first {get ignored}

A:link {color:#FFFFFF; text-decoration:underline}
A:visited {color:#FFFFFF; text-decoration:underline}
A:active {color:#FFFFFF; text-decoration:underline}
A:hover {color:#FFFFFF; text-decoration:none}

.master:link {text-decoration:none}
.master:visited {text-decoration:none}
.master:active {text-decoration:none}
.master:hover {text-decoration:underline}

.tc:link {color:#AFAFCA; text-decoration:underline}
.tc:visited {color:#AFAFCA; text-decoration:underline}
.tc:active {color:#AFAFCA; text-decoration:underline}
.tc:hover {color:#AFAFCA; text-decoration:none}

.highlight2:link {color:#CCFF00; text-decoration:underline}
.highlight2:visited {color:#CCFF00; text-decoration:underline}
.highlight2:active {color:#CCFF00; text-decoration:underline}
.highlight2:hover {color:#CCFF00; text-decoration:none}

.white1 {font: normal 7pt/8pt verdana,arial,helvetica; color:#FFFFFF}
.white1b {font: bold 7pt/8pt verdana,arial,helvetica; color:#FFFFFF}
.white2 {font: normal 8pt/9pt verdana,arial,helvetica; color:#FFFFFF}
.white2b {font: bold 8pt/9pt verdana,arial,helvetica; color:#FFFFFF}
.white3 {font: normal 9pt/10pt verdana,arial,helvetica; color:#FFFFFF}
.white3b {font: bold 9pt/10pt verdana,arial,helvetica; color:#FFFFFF}
.white4 {font: normal 12pt/13pt verdana,arial,helvetica; color:#FFFFFF}
.white4b {font: bold 13pt/14pt verdana,arial,helvetica; color:#FFFFFF}

.tcblue2 {font: normal 8pt/9pt verdana,arial,helvetica; color:#7E859D}

.textbox {font-size: 8pt}
.textboxg {font-size: 9pt}